body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, .card-body>.card-title {
    font-family: "Lobster", cursive;
}
.card-title {
  font-weight: 500;
  font-size: 1.25rem;  /*can't use the short hand without font family at the end. So have to seperate and do long hand version.*/
} 

h2 {
  color: #3046C5;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  color: white;
}

.jumbotron h2 {
  color: #CEC8FF;
}

.navbar-dark {
  background-color: #901CAD;
}
/* fade effect. enter and enter-active is the transition when you mount a component. Using ease out (start fast then ease out at the end */
.page-enter {
  opacity: 0;
  transform: translateX(-100%);   /*translateX means on the horizontal plane. -100% puts it to the left of page */
}                                 /* moves the page from left to right*/

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);  /* 0% is a normal position*/
  transition: 300ms ease-out;

}

/* exit and exit active transition when unmounted. Start slow then go fast at end */
.page-exit {
  opacity: 1;
}

/* ease-in for something going out, ease-out for going in */
.page-exit-active {
opacity: 0;
transition: 300ms ease-in;
}

/* Css properties not specific to React transition group library. The library lets us use any css we like */

